USE [DBPrueba]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 05/03/2026 15:53:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[cdRol] [int] IDENTITY(1,1) NOT NULL,
	[dsRol] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 05/03/2026 15:53:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[cdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[dsLogin] [nvarchar](50) NOT NULL,
	[dsContraseña] [nvarchar](1000) NOT NULL,
	[dsNombre] [nvarchar](100) NOT NULL,
	[dsApellido] [nvarchar](100) NOT NULL,
	[dsEmail] [nvarchar](100) NOT NULL,
	[cdRol] [int] NOT NULL,
	[icActivo] [bit] NULL,
	[dtCreacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[cdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([cdRol], [dsRol]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([cdRol], [dsRol]) VALUES (2, N'User')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([cdUsuario], [dsLogin], [dsContraseña], [dsNombre], [dsApellido], [dsEmail], [cdRol], [icActivo], [dtCreacion]) VALUES (1, N'admin', N'admin', N'Matias', N'Gramajo', N'admin@proyect.com', 1, 1, CAST(N'2026-03-05T12:42:12.873' AS DateTime))
INSERT [dbo].[Usuarios] ([cdUsuario], [dsLogin], [dsContraseña], [dsNombre], [dsApellido], [dsEmail], [cdRol], [icActivo], [dtCreacion]) VALUES (2, N'user', N'user', N'Juan', N'Perez', N'juan@proyect.com', 2, 1, CAST(N'2026-03-05T12:42:12.873' AS DateTime))
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuarios__69C854839BD63BFA]    Script Date: 05/03/2026 15:53:08 ******/
ALTER TABLE [dbo].[Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[dsEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuarios__84CCD3FAA1D218F3]    Script Date: 05/03/2026 15:53:08 ******/
ALTER TABLE [dbo].[Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[dsLogin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((1)) FOR [icActivo]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (getdate()) FOR [dtCreacion]
GO
/****** Object:  StoredProcedure [dbo].[SIS_Roles_S]    Script Date: 05/03/2026 15:53:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SIS_Roles_S] 
@jsParametro NVARCHAR(MAX)  = NULL
AS BEGIN SELECT cdRol, dsRol FROM Roles FOR JSON PATH; END;
GO
/****** Object:  StoredProcedure [dbo].[SIS_Usuarios_D]    Script Date: 05/03/2026 15:53:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SIS_Usuarios_D]
    @jsParametro NVARCHAR(MAX) -- Recibe el JSON con el ID
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @cdUsuario INT;

    -- Extraemos solo el ID del usuario
    SELECT @cdUsuario = cdUsuario 
    FROM OPENJSON(@jsParametro) 
    WITH (cdUsuario INT);

    IF EXISTS (SELECT 1 FROM Usuarios WHERE cdUsuario = @cdUsuario)
    BEGIN
        DELETE FROM Usuarios WHERE cdUsuario = @cdUsuario;
        SELECT '{"mensaje": "Usuario eliminado correctamente"}' AS Respuesta;
    END
    ELSE
    BEGIN
        SELECT '{"mensaje": "Error: Usuario no encontrado", "error": true}' AS Respuesta;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[SIS_Usuarios_IU]    Script Date: 05/03/2026 15:53:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SIS_Usuarios_IU]
    @jsParametro NVARCHAR(MAX) -- Único parámetro que recibe el JSON desde Angular/C#
AS
BEGIN
    SET NOCOUNT ON;

    -- 1. Declaramos variables para extraer los datos del JSON
    DECLARE @cdUsuario INT, 
            @dsLogin NVARCHAR(50), 
            @dsContraseña NVARCHAR(1000), 
            @dsNombre NVARCHAR(100), 
            @dsApellido NVARCHAR(100), 
            @dsEmail NVARCHAR(100), 
            @cdRol INT, 
            @icActivo BIT;

    -- 2. "Mapeamos" los valores del JSON a las variables
    -- IMPORTANTE: Los nombres aquí deben ser IGUALES a los del formGroup de Angular
    SELECT 
        @cdUsuario = cdUsuario,
        @dsLogin = dsLogin,
        @dsContraseña = dsContraseña,
        @dsNombre = dsNombre,
        @dsApellido = dsApellido,
        @dsEmail = dsEmail,
        @cdRol = cdRol,
        @icActivo = icActivo
    FROM OPENJSON(@jsParametro)
    WITH (
        cdUsuario INT,
        dsLogin NVARCHAR(50),
        dsContraseña NVARCHAR(1000),
        dsNombre NVARCHAR(100),
        dsApellido NVARCHAR(100),
        dsEmail NVARCHAR(100),
        cdRol INT,
        icActivo BIT
    );

    -- 3. Lógica de Inserción o Actualización
    IF @cdUsuario IS NULL OR @cdUsuario = 0
    BEGIN
        -- INSERTAR NUEVO USUARIO
        INSERT INTO Usuarios (dsLogin, dsContraseña, dsNombre, dsApellido, dsEmail, cdRol, icActivo, dtCreacion)
        VALUES (@dsLogin, @dsContraseña, @dsNombre, @dsApellido, @dsEmail, @cdRol, @icActivo, GETDATE());
        
        SELECT '{"mensaje": "Usuario creado con éxito"}' AS Respuesta;
    END
    ELSE
    BEGIN
        -- ACTUALIZAR USUARIO EXISTENTE
        UPDATE Usuarios
        SET dsLogin = @dsLogin,
            dsContraseña = @dsContraseña,
            dsNombre = @dsNombre,
            dsApellido = @dsApellido,
            dsEmail = @dsEmail,
            cdRol = @cdRol,
            icActivo = @icActivo
        WHERE cdUsuario = @cdUsuario;

        SELECT '{"mensaje": "Usuario actualizado con éxito"}' AS Respuesta;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[SIS_Usuarios_S]    Script Date: 05/03/2026 15:53:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SIS_Usuarios_S]
    @jsParametro NVARCHAR(MAX)  = NULL -- Recibe el parámetro basura pero lo ignora
AS
BEGIN
    SELECT 
        u.cdUsuario, 
        u.dsLogin, 
        u.dsNombre, 
        u.dsApellido, 
        u.dsEmail, 
        u.cdRol, 
        r.dsRol, 
        u.icActivo, 
        u.dtCreacion
    FROM Usuarios u
    INNER JOIN Roles r ON u.cdRol = r.cdRol
    ORDER BY u.dtCreacion DESC
    FOR JSON PATH;
END;
GO
