USE [DBPrueba]
GO
/****** Object:  StoredProcedure [dbo].[Auth_Login]    Script Date: 06/03/2026 16:24:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[Auth_Login]
    @jsonParametros NVARCHAR(MAX)
AS
BEGIN
    DECLARE @dsLogin NVARCHAR(50), @dsContraseña NVARCHAR(50);

    -- Extraemos los datos del JSON que manda Angular
    SELECT 
        @dsLogin = dsLogin, 
        @dsContraseña = dsContraseña
    FROM OPENJSON(@jsonParametros)
    WITH (
        dsLogin NVARCHAR(50),
        dsContraseña NVARCHAR(50)
    );

    -- Ejecutamos la consulta
    SELECT 
        u.cdUsuario,
        u.dsNombre,
        u.dsApellido,
        u.dsLogin,
        u.cdRol,
        r.dsRol
    FROM Usuarios u
    INNER JOIN Roles r ON u.cdRol = r.cdRol
    WHERE u.dsLogin = @dsLogin 
      AND u.dsContraseña = @dsContraseña
      AND u.icActivo = 1 -- Solo usuarios activos
    FOR JSON PATH, WITHOUT_ARRAY_WRAPPER; -- <--- ESTO ES VITAL
END
GO
/****** Object:  StoredProcedure [dbo].[SIS_Roles_S]    Script Date: 06/03/2026 16:24:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SIS_Roles_S] 
@jsParametro NVARCHAR(MAX)  = NULL
AS BEGIN SELECT cdRol, dsRol FROM Roles FOR JSON PATH; END;
GO
/****** Object:  StoredProcedure [dbo].[SIS_Tareas_D]    Script Date: 06/03/2026 16:24:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SIS_Tareas_D]
    @jsParametro NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @cdTarea INT;

    -- Extraemos solo el ID del JSON que enviará Angular
    SELECT @cdTarea = cdTarea 
    FROM OPENJSON(@jsParametro) WITH (cdTarea INT);

    DELETE FROM Tareas WHERE cdTarea = @cdTarea;

    SELECT '{"mensaje": "Tarea eliminada correctamente"}' AS Respuesta;
END
GO
/****** Object:  StoredProcedure [dbo].[SIS_Tareas_IU]    Script Date: 06/03/2026 16:24:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SIS_Tareas_IU]
    @jsParametro NVARCHAR(MAX) -- Aquí llega el objeto que mandas desde Angular
AS
BEGIN
    SET NOCOUNT ON;

    -- Declaramos variables para extraer los datos del JSON
    DECLARE @cdTarea INT, @dsTitulo NVARCHAR(100), @dsDescripcion NVARCHAR(255), @cdEstado NVARCHAR(50);

    -- "Abrimos" el JSON que viene del Backend
    SELECT 
        @cdTarea = cdTarea,
        @dsTitulo = dsTitulo,
        @dsDescripcion = dsDescripcion,
        @cdEstado = cdEstado
    FROM OPENJSON(@jsParametro)
    WITH (
        cdTarea INT,
        dsTitulo NVARCHAR(100),
        dsDescripcion NVARCHAR(255),
        cdEstado NVARCHAR(50)
    );

    -- Si el cdTarea es 0 o NULL, es una tarea nueva (INSERT)
    IF @cdTarea IS NULL OR @cdTarea = 0
    BEGIN
        INSERT INTO Tareas (dsTitulo, dsDescripcion, cdEstado, dtCreacion)
        VALUES (@dsTitulo, @dsDescripcion, @cdEstado, GETDATE());
        
        SELECT '{"mensaje": "Tarea creada con éxito"}' AS Respuesta;
    END
    ELSE
    -- Si ya existe, la actualizamos (UPDATE)
    BEGIN
        UPDATE Tareas 
        SET dsTitulo = @dsTitulo, 
            dsDescripcion = @dsDescripcion, 
            cdEstado = @cdEstado
        WHERE cdTarea = @cdTarea;

        SELECT '{"mensaje": "Tarea actualizada con éxito"}' AS Respuesta;
    END
END

GO
/****** Object:  StoredProcedure [dbo].[SIS_Tareas_S]    Script Date: 06/03/2026 16:24:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SIS_Tareas_S]
    @jsParametro NVARCHAR(MAX) -- El backend siempre envía esto, aunque esté vacío
AS
BEGIN
    SET NOCOUNT ON;

    -- Seleccionamos las tareas y las convertimos a JSON
    -- FOR JSON PATH es lo que permite que el StringBuilder de C# reciba texto
    SELECT 
        cdTarea, 
        dsTitulo, 
        dsDescripcion, 
        cdEstado, 
        dtCreacion
    FROM Tareas
    FOR JSON PATH; 
END

GO
/****** Object:  StoredProcedure [dbo].[SIS_Usuarios_D]    Script Date: 06/03/2026 16:24:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SIS_Usuarios_D]
    @jsParametro NVARCHAR(MAX) -- Recibe el JSON con el ID
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @cdUsuario INT;

    -- Extraemos solo el ID del usuario
    SELECT @cdUsuario = cdUsuario 
    FROM OPENJSON(@jsParametro) 
    WITH (cdUsuario INT);

    IF EXISTS (SELECT 1 FROM Usuarios WHERE cdUsuario = @cdUsuario)
    BEGIN
        DELETE FROM Usuarios WHERE cdUsuario = @cdUsuario;
        SELECT '{"mensaje": "Usuario eliminado correctamente"}' AS Respuesta;
    END
    ELSE
    BEGIN
        SELECT '{"mensaje": "Error: Usuario no encontrado", "error": true}' AS Respuesta;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[SIS_Usuarios_IU]    Script Date: 06/03/2026 16:24:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SIS_Usuarios_IU]
    @jsParametro NVARCHAR(MAX) -- Único parámetro que recibe el JSON desde Angular/C#
AS
BEGIN
    SET NOCOUNT ON;

    -- 1. Declaramos variables para extraer los datos del JSON
    DECLARE @cdUsuario INT, 
            @dsLogin NVARCHAR(50), 
            @dsContraseña NVARCHAR(1000), 
            @dsNombre NVARCHAR(100), 
            @dsApellido NVARCHAR(100), 
            @dsEmail NVARCHAR(100), 
            @cdRol INT, 
            @icActivo BIT;

    -- 2. "Mapeamos" los valores del JSON a las variables
    -- IMPORTANTE: Los nombres aquí deben ser IGUALES a los del formGroup de Angular
    SELECT 
        @cdUsuario = cdUsuario,
        @dsLogin = dsLogin,
        @dsContraseña = dsContraseña,
        @dsNombre = dsNombre,
        @dsApellido = dsApellido,
        @dsEmail = dsEmail,
        @cdRol = cdRol,
        @icActivo = icActivo
    FROM OPENJSON(@jsParametro)
    WITH (
        cdUsuario INT,
        dsLogin NVARCHAR(50),
        dsContraseña NVARCHAR(1000),
        dsNombre NVARCHAR(100),
        dsApellido NVARCHAR(100),
        dsEmail NVARCHAR(100),
        cdRol INT,
        icActivo BIT
    );

    -- 3. Lógica de Inserción o Actualización
    IF @cdUsuario IS NULL OR @cdUsuario = 0
    BEGIN
        -- INSERTAR NUEVO USUARIO
        INSERT INTO Usuarios (dsLogin, dsContraseña, dsNombre, dsApellido, dsEmail, cdRol, icActivo, dtCreacion)
        VALUES (@dsLogin, @dsContraseña, @dsNombre, @dsApellido, @dsEmail, @cdRol, @icActivo, GETDATE());
        
        SELECT '{"mensaje": "Usuario creado con éxito"}' AS Respuesta;
    END
    ELSE
    BEGIN
        -- ACTUALIZAR USUARIO EXISTENTE
        UPDATE Usuarios
        SET dsLogin = @dsLogin,
            dsContraseña = @dsContraseña,
            dsNombre = @dsNombre,
            dsApellido = @dsApellido,
            dsEmail = @dsEmail,
            cdRol = @cdRol,
            icActivo = @icActivo
        WHERE cdUsuario = @cdUsuario;

        SELECT '{"mensaje": "Usuario actualizado con éxito"}' AS Respuesta;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[SIS_Usuarios_S]    Script Date: 06/03/2026 16:24:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SIS_Usuarios_S]
    @jsParametro NVARCHAR(MAX)  = NULL -- Recibe el parámetro basura pero lo ignora
AS
BEGIN
    SELECT 
        u.cdUsuario, 
        u.dsLogin, 
        u.dsContraseña,
        u.dsNombre, 
        u.dsApellido, 
        u.dsEmail, 
        u.cdRol, 
        r.dsRol, 
        u.icActivo, 
        u.dtCreacion
    FROM Usuarios u
    INNER JOIN Roles r ON u.cdRol = r.cdRol
    ORDER BY u.dtCreacion DESC
    FOR JSON PATH;
END;
GO
