<h2 mat-dialog-title>{{ data ? 'Editar Usuario' : 'Nuevo Usuario' }}</h2>

<mat-dialog-content>
  <form [formGroup]="userForm" autocomplete="off"
    style="display: flex; flex-direction: column; gap: 10px; min-width: 300px; padding-top: 10px;">

    <div style="display: flex; gap: 10px;">
      <mat-form-field appearance="outline" style="flex: 1;">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="dsNombre">
      </mat-form-field>

      <mat-form-field appearance="outline" style="flex: 1;">
        <mat-label>Apellido</mat-label>
        <input matInput formControlName="dsApellido">
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="dsEmail" type="email">
      <mat-error *ngIf="userForm.get('dsEmail')?.hasError('email')">Email inválido</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Login / Usuario</mat-label>
      <input matInput formControlName="dsLogin">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Contraseña</mat-label>
      <input matInput formControlName="dsPassword" type="password" autocomplete="new-password">
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>Confirmar Contraseña</mat-label>
      <input matInput formControlName="confirmarContraseña" type="password" autocomplete="new-password">

      <mat-error *ngIf="userForm.hasError('passwordsNoMatch')">
        Las contraseñas no coinciden.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Rol</mat-label>
      <mat-select formControlName="cdRol">
        <mat-option *ngFor="let rol of (roles$ | async)" [value]="rol.cdRol">
          {{rol.dsRol}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Estado</mat-label>
      <mat-select formControlName="icActivo">
        <mat-option [value]="true">Activo</mat-option>
        <mat-option [value]="false">Inactivo</mat-option>
      </mat-select>
    </mat-form-field>

  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="guardar()" color="primary" [disabled]="userForm.invalid">Guardar</button>
  <button mat-button mat-dialog-close>Cancelar</button>
</mat-dialog-actions>